@import url("https://fonts.googleapis.com/css2?family=Changa+One&family=Modak&family=Spicy+Rice&family=Zen+Tokyo+Zoo&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  min-height: 100vh;
}

h1 {
  font-family: "Spicy Rice", cursive;
  color: rgba(255, 224, 224, 0.8);
}

body {
  background: linear-gradient(292.42deg, #d66d75 0%, #e29587 99.63%);
}
